<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>AccountBook</title>
</head>
<body>
<nav>
    <div class="nav-wrapper teal">
        <a href="#" class="brand-logo center">Account Book</a>
        <ul id="nav-mobile" class="left">
            <li><a href="#">Home</a></li>
            <li><a href="#">Graph</a></li>
        </ul>
        <ul id="nav-mobile" class="right">
            {{> loginButtons}}
        </ul>
    </div>
</nav>
{{#if currentUser}}
<p>로그인 되었습니다.</p>
{{/if}}
{{>changeMonth}}


</body>
