<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <title>AccountBook</title>
</head>
<body>
<nav>
    <div class="nav-wrapper teal">
        <a href="{{pathFor 'home'}}" class="brand-logo center">Account Book</a>
        <ul id="nav-mobile" class="left">
            <li><a href="{{pathFor 'home'}}">Home</a></li>
            <li><a href="{{pathFor 'graph'}}">Graph</a></li>
        </ul>
        <ul id="nav-mobile" class="right">
            {{> loginButtons}}
        </ul>
    </div>
</nav>
<!--{{>home}}-->


</body>
